<template lang="html">
  <div id="advantages" class="container padding-b-15">
      <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10 text-center">
          <h2 class="font-Roboto" style="padding-bottom: 10px">10 лет на строительном рынке</h2>
          <div class="thumbnail">
            <p style="padding: 10px">Мы выполняем простые и комплексные ремонтомы квартир под ключ за фиксированные цены и сроки в городах подмосковья Щелково, Фрязино, Литвиново</p>
          </div>
        </div>
        <div class="col-md-1"></div>
      </div>
      <div class="row">
        <div class="col-md-3 text-center">
          <h3 class="padding-b-15 font-Roboto">Надежная команда</h3>
          <img src="/images/team.svg" style="height: 150px;" class="img-rounded padding-b-15" data-container="body" data-toggle="popover" data-placement="top" data-title="Надежная команда" data-content='Сервис "РемОтряд" предоставляет полный спектр услуг по ремонту квартир, частных домов и офисов. А также по строительству и отделки деревянных домов и бань. На протяжении многих лет со дня организации компании наши специалисты доказали свой профессионализм. Это позволяет нам гарантировать заказчику строительные, ремонтные и отделочные работы на самом высоком уровне, с соблюдением всех правовых норм, стандартов качества и безопасности.'>
          <p>Лучшие специалисты с многолетним опытом</p>
        </div>
        <div class="col-md-3 text-center">
          <h3 class="padding-b-15 font-Roboto">Четкие сроки</h3>
          <img src="/images/ontime.png" style="height: 150px" class="img-rounded padding-b-15" data-container="body" data-toggle="popover" data-placement="top" data-title="Четкие сроки" data-content='Работаем строго по согласованному графику выполнения работ.'>
          <p>Ремонт от 3-х дней, закончим точно по графику</p>
        </div>
        <div class="col-md-3 text-center">
          <h3 class="padding-b-15 font-Roboto">Прозрачный бюджет</h3>
          <img src="/images/budget.png" style="height: 150px" class="img-rounded padding-b-15" data-container="body" data-toggle="popover" data-placement="top" data-title="Бесплатный расчет бюджета" data-content="Мы осуществляем бесплатный расчет стоимости услуг для каждого клиента!">
          <p>Вы платите поэтапно и точно знаете, на что пошел каждый рубль</p>
        </div>
        <div class="col-md-3 text-center">
          <h3 class="padding-b-15 font-Roboto">Личный прораб</h3>
          <img src="/images/prorab.png" style="height: 150px" class="img-rounded padding-b-15" data-container="body" data-toggle="popover" data-placement="top" data-title="Личный прораб" data-content="С Услугой «Личный Прораб» Вы всегда можете получить подробную консультацию по любым строительным работам и быть уверенными, что на Вашем объекте все выполняется с необходимым качеством, предъявляемым к данным работам. Воспользовавшись услугой «Личный Прораб», Вы сможете быть уверены что Ваш объект буден выполнен в оговоренные сроки с соблюдением всех строительных норм и правил при минимальных затратах.">
          <p>У каждого клиента есть личный прораб, который всегда на связи</p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}

$(window).scroll(function() {
  $('.img-rounded').animate('slow', function() {
    $(this).css('opacity', 1);
  });
});

jQuery(document).ready(function($) {
  $('.img-rounded').on('mouseover', function() {
    $(this).popover('show');
    $(this).css('cursor', 'pointer');
  });
  $('.img-rounded').on('mouseout', function() {
    $(this).popover('hide');
  });
});
</script>

<style lang="css">

.padding-b-15 {
    padding-bottom: 15px;
}

.img-rounded {
    opacity: 0.1;
}

</style>
