<style lang="css">

#calculator {
    display: block;
    position: relative;
    height: 100%;
}

#calculator-block {
    display: block;
    position: relative;
    float: none;
    width: 100%;
    height: auto;
    background: url('/images/room-idea-021.jpg') center bottom fixed no-repeat;
    background-size: cover;
}

#calculator-form-block {
    display: block;
    position: relative;
    margin: 25px auto 25px auto;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.95);
    width: 100%;
    height: auto;
    padding: 20px;
}


/* Скрываем реальный чекбокс */

.calc-checkbox {
    display: none;
}


/* Задаем внешний вид для нашего кастомного чекбокса. Все обязательные свойства прокомментированы, остальные же свойства меняйте по вашему усмотрению */

.calc-checkbox-custom {
    position: relative;
    /* Обязательно задаем, чтобы мы могли абсолютным образом позиционировать псевдоэлемент внютри нашего кастомного чекбокса */
    width: 30px;
    /* Обязательно задаем ширину */
    height: 30px;
    /* Обязательно задаем высоту */
    border: 1px solid #ccc;
    border-radius: 0;
}


/* Кастомный чекбокс и лейбл центрируем по вертикали. Если вам это не требуется, то вы можете убрать свойство vertical-align: middle из данного правила, но свойство display: inline-block обязательно должно быть */

.calc-checkbox-custom,
.calc-checkbox-label {
    display: inline-block;
    vertical-align: middle;
}


/* Если реальный чекбокс у нас отмечен, то тогда добавляем данный признак и к нашему кастомному чекбоксу  */

.calc-checkbox:checked + .calc-checkbox-custom::before {
    content: "✓";
    /* Добавляем наш псевдоэлемент */
    display: block;
    /* Делаем его блочным элементом */
    position: absolute;
    /* Позиционируем его абсолютным образом */
    /* Задаем расстояние от верхней, правой, нижней и левой границы */
    top: 4px;
    left: 8px;
    right: 0;
    bottom: 0;
    border-radius: 2px;
}

</style>

<template lang="html">

<div id="calculator">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-center font-Roboto" style="padding-bottom: 15px">Рассчитайте стоимость ремонта за 1 минуту</h1>
            </div>
        </div>
    </div>
    <div id="calculator-block">
        <div class="container">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="calculator-form-block">
                        <div class="row">
                            <!-- Calculator form begins-->
                            <form id="calculator-form" name="calculator-form">
                                <div class="col-md-6">
                                    <div class="form-group form-group-lg">
                                        <p>1. Введите адрес дома</p>
                                        <input type="text" class="form-control" id="" placeholder="Фрязино, Мира 20">
                                    </div>
                                    <div class="form-group form-group-lg">
                                        <p>2. Укажите вид ремонта квартиры</p>
                                        <select class="form-control" id="remont-type">
                                            <option value="Косметический">Косметический</option>
                                            <option value="Капитальный">Капитальный</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <p>3. Укажите площадь ремонтируемого помещения</p>
                                        <div class="input-group">
                                            <input type="number" class="form-control input-lg" size="3" min="10" max="300" pattern="/\d*/g" id="total_square" placeholder="0">
                                            <span class="input-group-addon">M<sup>2</sup></span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p>4. Укажите тип недвижимости</p>
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="real-estate-type" checked="checked">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Новостройка
                                        <label style="padding-left: 25px">
                                            <input class="calc-checkbox" type="checkbox" name="real-estate-type">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Вторичное жилье
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <p>5. Отметьте желаемые услуги</p>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-1">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Выравнивание пола
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-2">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Выравнивание стен
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-3">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Выравнивание потолка
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-4">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Замена электрики
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-5">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Замена системы водоснабжения
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-6">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Замена системы отопления
                                    </div>
                                    <div class="form-group">
                                        <label>
                                            <input class="calc-checkbox" type="checkbox" name="usluga-7">
                                            <span class="calc-checkbox-custom"></span>
                                        </label>&nbsp;Материал нашей компании
                                    </div>
                                </div>
                            </form>
                            <!-- Calculator form ends-->
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 40%">
                                        <span class="sr-only">40% Complete</span>
                                    </div>
                                </div>
                                <p class="text-center">Срок работы - 41 день</p>
                            </div>
                            <div class="col-md-6">
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="16" aria-valuemin="0" aria-valuemax="20" style="width: 16%">
                                        <span class="sr-only">16% Complete (success)</span>
                                    </div>
                                </div>
                                <p class="text-center">Ваша скидка 16 %</p>
                            </div>
                        </div>
                        <div class="row text-center" style="padding: 10px 0 10px 0">
                            <div class="col-md-12">
                                <p>Вы можете отправить свой расчет по электронной почте заполнив форму ниже</p>
                                <form class="form-inline" name="price-calculation-form">
                                    <div class="form-group">
                                        <input type="email" class="form-control" id="calculation-recipient" placeholder="Ваш email" required>
                                    </div>
                                    <div class="form-group">
                                      <button v-on:click="sendCalculation" type="submit" class="btn btn btn-default">Отправить</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<script>

export default {
    methods: {
        sendCalculation: function(e) {
            e.preventDefault();
        }
    }
}
$(document).ready(function() {
    $('input[name="real-estate-type"]').on('change', function() {
        $('input[name="real-estate-type"]').not(this).prop('checked', false);
    });
});

</script>
