<style lang="css">

#outer {
    height: auto;
    width: 100%;
    padding: 20px;
    background: rgba(40, 44, 52, 0.2);
}

#inner {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.7);
    font-family: HelveticaNeue-Light;
    color: #010103;
}

.padding-top-bottom {
  padding: 15px 0 15px 0;
}

</style>

<template lang="html">
<div>
    <div id="outer">
        <div id="inner" class="text-center">
            <h1 class="font-Roboto">Отправьте заявку сегодня и&nbsp;закрепите скидку до&nbsp;&laquo;20%&raquo;</h1>
                <form @submit.prevent="submit" @keydown.enter.prevent='submit' class="form-inline padding-top-bottom">
                    <div class="form-group" id="form-group-phone">
                      <input v-if="! isSubmited && ! isMatchedRegexp" id="phone_number" class="form-control bfh-phone input-lg text-center" v-model.trim="input" v-bind:pattern="regexp.source" type="text" data-format="+7 (ddd) ddd-dd-dd" @click="stop_carousel" required />

                      <input v-else-if="! isSubmited && isMatchedRegexp" id="phone_number" class="form-control bfh-phone input-lg text-center" v-model.trim="input" v-bind:pattern="regexp.source" type="text" data-format="+7 (ddd) ddd-dd-dd" @click="stop_carousel" required />

                      <input v-else="(isSubmited && isMatchedRegexp) || isSubmited && ! isMatchedRegexp)" id="phone_number" class="form-control bfh-phone input-lg text-center disbaled" v-model.trim="input" v-bind:pattern="regexp.source" type="text" data-format="+7 (ddd) ddd-dd-dd" @click="stop_carousel" required/>
                    </div>

                    <div class="form-group">
                      <button v-if="! isSubmited && ! isMatchedRegexp" id="btn-submit" class="btn btn-primary btn-block btn-lg disabled" type="submit" name="submit">Введите номер</button>

                      <button v-else-if="! isSubmited && isMatchedRegexp" id="btn-submit" class="btn btn-success btn-block btn-lg"  type="submit" name="submit">Получить скидку</button>

                      <button v-else="isSubmited" id="btn-submit" class="btn btn-info btn-block btn-lg disabled" type="submit" disabled="disabled" name="submit">Спасибо!</button>
                    </div>
                </form>
                <p>✓ Оптимальное сочетание цены и качества!</p>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  data() {
    return {
      input: '+7',
      regexp: /\W\d\W{2}\d{3}\W{2}\d{3}\W\d{2}\W\d{2}/g,
      errors: [],
      submited: false
    }
  },

  computed: {

    isMatchedRegexp() {
      if (this.input.match(this.regexp.source)) {
        return true;
      } else {
        return false;
      }
    },
    isSubmited() {
      if (this.submited == true) {
        return true;
      } else {
        return false;
      }
    }
  },

  methods: {
    // Управление каруселью
    stop_carousel() {
      $('.carousel').carousel('pause');
    },

    start_carousel() {
      $('.carousel').carousel('cycle');
    },

    // Метод отправки номера телефона из формы заявки на скидку
    submit() {

      axios.defaults.headers.common['X-CSRF-TOKEN'] = document.querySelector('meta[name="csrf-token"]').getAttribute('content');

      axios.post('/send-discount-request', {
          phone_number: $('#phone_number').val()
        })
        .then(function(response) {
          self.input = response.data.message;
          console.log(response.data);
        })
        .catch(function(error) {
          console.log(error);
        });

      var self = this;

      $(this).queue(function() {
        this.submited = true;
        $(this).dequeue();
      }).delay(5000).queue(function() {
        this.submited = false;
        this.input = '+7';
        this.message = '';
        $(this).dequeue();
      });
    }
  }
}
</script>
