<template lang="html">

<div id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="font-Roboto text-center padding-b-15">Примеры работ и отзывы клиентов</h1>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="portfolio-carousel" class="carousel slide" data-ride="carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li v-if="index == 0" v-for="(project, index) in projects" data-target="#portfolio-carousel" :data-slide-to="[index]" class="active"></li>
                        <li v-if="index > 0" v-for="(project, index) in projects" data-target="#portfolio-carousel" :data-slide-to="[index]"></li>
                    </ol>

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div v-if="index === 0" v-for="(project, index) in projects" class="item active">
                            <div v-bind:style="{'height': '600px', 'display' : 'block', 'background' : 'url(' + '/storage/' + project.projectimage[0].path + ') center center no-repeat', 'background-size' : 'cover'}">
                                <div class="row">
                                    <div class="container">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5"></div>
                                        <div class="col-md-5">
                                            <div style="padding: 15px 0 15px 0">
                                                <div style="display: block; position: relative; height: 570px; background: rgba(232, 229, 232, 0.9); padding: 25px;">
                                                    <h4 style="margin: 0; padding-bottom: 15px">Договор № <span class="label label-primary">РО-000/{{project.id}}</span>&nbsp;<span class="label label-info">{{project.square}} м<sup>2</sup></span>
                                                        <span v-if="project.work_days < 5" class="label label-success">{{project.work_days}} дня</span>
                                                        <span v-if="project.work_days.toString().slice(-1) > 4" class="label label-success">{{project.work_days}} дней</span>
                                                        <span v-else-if="project.work_days.toString().slice(-1) == 1" class="label label-success">{{project.work_days}} день</span>
                                                        <span v-else-if="project.work_days.toString().slice(-1) < 5" class="label label-success">{{project.work_days}} дня</span>
                                                        <span v-else class="label label-success">{{project.work_days}} дня</span>
                                                    </h4>
                                                    <p><strong>&laquo;{{project.tariff}}&raquo; </strong>{{project.description}}</p>
                                                    <p>Материалы: {{project.materials}}.</p>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="pull-left" v-bind:style="{'height': '80px', 'width':'80px', 'margin-right':'15px', 'display' : 'block','position':'relative','border-radius':'6px','background' : 'url(' + '/storage/' + project.customerfeedback.userpic + ') center center no-repeat', 'background-size' : 'cover'}"></div>
                                                            <p>&laquo;{{project.customerfeedback.content.substring(0,480)}}&raquo;</p>
                                                            <p>{{project.customerfeedback.customer_name}}, {{project.city}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div v-if="index > 0" v-for="(project, index) in projects" class="item">
                            <div v-bind:style="{'height': '600px','width': '100%', 'display' : 'block','background' : 'url(' + '/storage/' + project.projectimage[0].path + ') center center no-repeat','background-size' : 'cover'}">
                                <div class="row">
                                    <div class="container">
                                        <div class="col-md-2"></div>
                                        <div class="col-md-5"></div>
                                        <div class="col-md-5">
                                            <div style="padding: 15px 0 15px 0">
                                                <div style="display: block; position: relative; height: 570px; background: rgba(232, 229, 232, 0.9); padding: 25px;">
                                                    <h4 style="margin: 0; padding-bottom: 15px">Договор № <span class="label label-primary">РО-000/{{project.id}}</span>&nbsp;<span class="label label-info">{{project.square}} м<sup>2</sup></span>
                                                        <span v-if="project.work_days < 5" class="label label-success">{{project.work_days}} дня</span>
                                                        <span v-if="project.work_days.toString().slice(-1) > 4" class="label label-success">{{project.work_days}} дней</span>
                                                        <span v-else-if="project.work_days.toString().slice(-1) == 1" class="label label-success">{{project.work_days}} день</span>
                                                        <span v-else-if="project.work_days.toString().slice(-1) < 5" class="label label-success">{{project.work_days}} дня</span>
                                                        <span v-else class="label label-success">{{project.work_days}} дня</span>
                                                    </h4>
                                                    <p><strong>&laquo;{{project.tariff}}&raquo; </strong>{{project.description}}</p>
                                                    <p>Материалы: {{project.materials}}.</p>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="pull-left" v-bind:style="{'height': '80px', 'width':'80px', 'margin-right':'15px', 'display' : 'block','position':'relative','border-radius':'6px','background' : 'url(' + '/storage/' + project.customerfeedback.userpic + ') center center no-repeat', 'background-size' : 'cover'}"></div>
                                                            <p>&laquo;{{project.customerfeedback.content.substring(0,480)}}&raquo;</p>
                                                            <p>{{project.customerfeedback.customer_name}}, {{project.city}}</p>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#portfolio-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#portfolio-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

</template>

<style lang="css">

#portfolio {
  padding-bottom: 20px;
}

#portfolio-carousel {
    height: 600px;
}

</style>

<script>

export default {
    data() {
            return {
                projects: [],
            }
        },

        mounted: function() {
            this.$nextTick(function() {
                this.getLastProjects()
            });
        },

        methods: {
            getLastProjects: function() {
                axios.get('/getlastprojects')
                    .then(response => {
                        this.projects = response.data;
                    })
                    .catch(err => {
                        console.log(err);
                    })
            },

        }
}

</script>
