<style lang="css">

.outer {
    height: auto;
    width: 100%;
    padding: 20px;
    background: rgba(40, 44, 52, 0.2);

}
.inner {
    width: 100%;
    height: auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    font-family: HelveticaNeue-Light;
    color: #010103;
}

</style>

<template lang="html">

<div>
    <div class="outer">
        <div class="inner text-center">
            <h1 class="font-Roboto" style="padding-bottom: 10px">Расчитать стоимость ремонта</h1>
            <form class="form-inline" @submit.prevent>
              <div class="form-group">
                <div class="input-group">
                  <input type="number" id="square" class="form-control input-lg" @click="" data-buttons="false" size="3" min="10" max="300" value="0" v-model="square" placeholder="0" pattern="/\d*/g" style="text-align: right;">
                  <span class="input-group-addon">М<sup>2</sup></span>
                </div>
              </div>
              <div class="form-group">
                <div class="form-control input-lg btn-default">от {{price_total}} руб. - 20 % = </div>
              </div>
              <div class="form-group">
                <div class="form-control input-lg btn-success" style="letter-spacing: 1px">{{price_discount}} <span class="badge">руб.</span></div>
              </div>
              <p style="padding: 10px 0 0 0;"><sup>*</sup> Расчитывается ориентировочная стоимость работ</p>
              <h2 v-if="economy > 0" style="padding: 10px" class="bg-success">Ваша экономия {{economy}} руб.</h2>
              <h1 id="phone-number">+7 (903) 222-07-05</h1>
              <h3>Звоните прямо сейчас и получите выгодное предложение!</h3>
            </form>
        </div>
    </div>
</div>

</template>

<script>

export default {
  data() {
    return {
      price: 3200,
      square: null,
      discount: 20
    }
  },

  computed: {

    price_total(square, price) {
      return this.square * this.price;
    },

    price_discount(price_total, discount) {
      return (this.price_total - this.price_total * this.discount / 100).toFixed(0);
    },

    economy(price_total, price_discount) {
      return (this.price_total - this.price_discount).toFixed(0);
    }

  },

  methods: {
    // Управление каруселью
    stop_carousel() {
      $('.carousel').carousel('pause');
    },

    start_carousel() {
      $('.carousel').carousel('cycle');
    }
  }
}

</script>
