<template lang="html">
  <!-- Master request form Modal -->
<form name="master-request-form">
  <div class="modal fade" id="master-request-form" tabindex="-1" role="dialog" aria-labelledby="master-request-form" >
    <div id="md-master-request-form" class="modal-dialog" role="document">
      <div id="mc-master-request-form" class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h2 class="font-Roboto modal-title text-center" id="myModalLabel">Вызвать мастера</h2>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="alert alert-info text-center" role="alert">Пожалуйста заполните все поля формы.</div>
              <!-- Name -->
              <div class="form-group">
                <label for="city">Как Вас зовут</label>
                <input name="full_name" type="text" class="form-control" autofocus>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <!-- Contact phone number -->
              <div class="form-group">
                <label for="city">Контактный телефон</label>
                <input id="phone" class="form-control bfh-phone" type="text" data-format="+7 (ddd) ddd-dd-dd" required />
              </div>
            </div>
            <div class="col-md-6">
              <!-- City -->
              <div class="form-group">
                <label for="city">Город</label>
                <select id="city" class="form-control">
                  <option value="Щелково">Щелково</option>
                  <option value="Фрязино">Фрязино</option>
                  <option value="Литвиново">Литвиново</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <!-- Additional information -->
              <div class="form-group">
                <label for="request-comment">Дополнительная информация</label>
                <textarea class="form-control" name="request-comment" id="request-comment" rows="3"></textarea>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div class="text-center">
            <!-- Reset and Send Buttons -->
            <button type="reset" class="btn btn-default">Сброс</button>
            <button type="button" class="btn btn-success">Отправить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
</template>

<script>
export default {
}
</script>

<style lang="css">
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-backdrop {
   background-color: black;
   opacity: 0.7 !important;
}

</style>
