<template lang="html">
  <div id="tariffs">
    <div class="container">
      <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4 text-center">
          <h1 class="font-Roboto" style="padding-bottom: 10px">Тарифы</h1>
        </div>
        <div class="col-md-4"></div>
      </div>
    </div>
    <div id="t-b">
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <div class="thumbnail tariff-block">
              <div class="caption">
                <h3 class="text-center font-Roboto padding-b-15">&laquo;Только работа&raquo;</h3>
                <div class="tariff-img" id="tariff-1"></div>
                <ul>
                  <li>Демонтаж плинтусов</li>
                  <li>Шпатлевка стен, выравнивание пола</li>
                  <li>Поклейка обоев</li>
                  <li>Укладка ламината и плитки</li>
                  <li>Окраска потолков</li>
                  <li>Облицовка плиткой пола</li>
                  <li>Облицовка ванной пласт. панелями</li>
                  <li>Замена всех светильников</li>
                  <li>Вынос мусора и разгрузка материала</li>
                </ul>
                <h2 class="text-center" style="padding: 20px"><span class="text-danger" style="text-decoration: line-through">&nbsp;3200&nbsp;</span> <span class="text-success">2920&nbsp;</span><span class="text-muted"><small>руб/м<sup>2</sup></small></span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail tariff-block">
              <div class="caption">
                <h3 class="text-center font-Roboto padding-b-15">&laquo;Черновой материал&raquo;</h3>
                <div class="tariff-img" id="tariff-2"></div>
                <div class="alert alert-info text-center">Тариф включает так&nbsp;же услуги тарифа &laquo;Только работа&raquo;</div>
                <ul>
                  <li>Грунтовка</li>
                  <li>Шпаклевка</li>
                  <li>Наливной пол</li>
                </ul>
                <h2 class="text-center" style="padding-top:60px; padding-bottom: 18px"><span class="text-danger" style="text-decoration: line-through">&nbsp;4000&nbsp;</span><span class="text-success">&nbsp;3280</span><span class="text-muted"><small> руб/м<sup>2</sup></small></span></h2>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="thumbnail tariff-block">
              <div class="caption">
                <h3 class="text-center font-Roboto padding-b-15">&laquo;Все включено&raquo;</h3>
                <div class="tariff-img" id="tariff-3"></div>
                <div class="alert alert-success text-center">Тариф включает услуги тарифов &laquo;Только работа&raquo; и &laquo;Черновой материал&raquo;</div>
                <ul>
                  <li>Краска</li>
                  <li>Обои, ламинат</li>
                  <li>Плитка, панели, двери</li>
                  <li>Светильники</li>
                </ul>
                <h2 class="text-center" style="padding: 40px 0 16px 0"><span class="text-danger" style="text-decoration: line-through">&nbsp;5400&nbsp;</span><span class="text-success">&nbsp;4680</span><span class="text-muted"><small> руб/м<sup>2</sup></small></span></h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="css">

  #t-b {
    display: block;
    position: relative;
    padding-top: 20px;
    background: url('/images/pattern-1.png');
    float: none;
    min-height: 580px;
    width: 100%;
    z-index: 0;
  }

  .tariff-block {
    min-height: 540px;
  }

  #t-b > div > div > div > div > div > ul > li {
    padding-top: 3px;
  }

  #tariff-1 {
    background: url('/images/tariff-1.jpg') center center no-repeat;
    background-size: cover;
  }

  #tariff-2 {
    background: url('/images/tariff-2.jpg') center center no-repeat;
    background-size: cover;
  }

  #tariff-3 {
    background: url('/images/tariff-3.jpg') center bottom no-repeat;
    background-size: cover;
  }

  .tariff-img {
    display: block;
    width: 100%;
    height: 160px;
    margin-bottom: 20px;
  }

</style>
