/* RGB */
$indian-red: rgba(226, 91, 91, 1);
$silver-lake-blue: rgba(85, 137, 205, 1);
$platinum: rgba(232, 229, 232, 1);
$jonquil: rgba(246, 206, 24, 1);
$paolo-veronese-green: rgba(21, 147, 128, 1);
$ghost-white: rgba(250,250,255,1);
