// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/font-awesome/scss/font-awesome";
@import "node_modules/bootstrap-social/bootstrap-social.scss";
@import url( 'https://fonts.googleapis.com/css?family=Noto+Serif:400,400i,700,700i|Pacifico|Roboto+Condensed:300,300i,400,400i,700,700i&subset=cyrillic,cyrillic-ext');

/*Mixins*/
@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
@mixin centerer {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin blur($px: 0) {
  -webkit-filter: blur(#{$px}px) !important;
  -ms-filter: blur(#{$px}px) !important;
  -moz-filter: blur(#{$px}px) !important;
  filter: url(  "data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'blur\'><feGaussianBlur stdDeviation=\'#{$px}\' /></filter></svg>#blur");
  filter:progid:DXImageTransform.Microsoft.Blur(PixelRadius=  '#{$px}');
}

.font-Roboto {
  font-family: 'Roboto Condensed', sans-serif;
}
p {
  font-size: 16px;
  font-family: HelveticaNeue-Light;
}
.centerer {
  @include centerer;
}

.vertical-align {
  @include vertical-align;
}

body,
html {
  width: 100%;
  height: 100%;
}

body {
  padding-top: 50px;
}

#hero {
  display: block;
  position: relative;
  width: 100% !important;
  height: 550px;

  #slide-1 {
    background: url('/images/room-idea-019.jpg') center center no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;

    #s1-b1 {
      height: auto;
      width: 100%;
      padding: 20px;
      background: rgba(40, 44, 52, 0.2);
    }
  }

  #slide-2 {
    background: url('/images/room-idea-028.jpg') center center no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
  }

  #slide-3 {
    background: url('/images/room-idea-029.jpg') center center no-repeat;
    background-size: cover;
    height: 550px;
    width: 100%;
  }
}

#footer-block {
  display: block;
  position: relative;
  padding: 45px 0;
  background-color: $platinum;
  min-height: 90px;

  #footer-copyright {
    padding-top: 20px;
  }

}
